<% include ../partials/header %>


<div class="container">
    <header class="text-center jumbotron">
        <h1>Welcome To SocialMedia</h1>
        <p>View the posts from all over the world!</p>
        <p><a class="btn btn-outline-primary btn-lg" href="posts/new">Add new post</a></p>
    </header>
    
    <div class="row text-center" style="display: flex; flex-wrap: wrap;">
        <% posts.forEach(function(post){ %>
            <div class="col-md-4 col-lg-3 col-sm-6">
                <div class="img-thumbnail">
                    <img src="<%= post.image %>">
                    <div class="caption">
                        <h4><%= post.name %></h4>
                    </div>
                    <p><a href="/posts/<%=post._id%>" class="btn btn-outline-primary">More Info</a></p>
                </div>
            </div>
        <% }); %>
    </div>

</div>


<% include ../partials/footer %>