<% include partials/header %>

<h1>This is the posts page!</h1>

<a href="posts/new">Add new post</a>

<% posts.forEach(function(post){ %>
    <div>
        <h4><%= post.name %></h4>
        <img src="<%= post.image %>">
    </div>
<% }); %>

<% include partials/footer %>