<h1>Form is here</h1>

<form action="/form" method="post">
	<input type="text" name="name" placeholder="name" required />
	<input type="number" name="number" placeholder="number" required />
	<input type="text" name="uniqid" placeholder="reference code" />
	<button type="submit">Submit</button>
</form>
