<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Redis</title>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
			integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
			crossorigin="anonymous"
		/>
		<style>
			body {
				background-color: #414141;
				font-family: sans-serif;
			}
			.btn-primary {
				background-color: #ff0000;
				border: #af0404;
			}
			.btn-primary:hover {
				background-color: #af0404;
				border: #ff0000;
			}
			.btn-primary:active:focus {
				background-color: #af0404 !important;
				border: #ff0000 !important;
			}
			.form-control {
				background-color: #252525;
				color: white;
			}
			label {
				color: white;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<form>
				<div class="form-group">
					<label for="exampleFormControlSelect1"></label>
					<select
						name="dataT"
						class="form-control"
						id="exampleFormControlSelect1"
						onchange="changes()"
					>
						<option value="String">string</option>
						<option value="Hashes">Hashes</option>
						<option value="sSets">Sorted Sets</option>
					</select>
				</div>
				<div id="datas"></div>
				<div id="datas2"></div>
			</form>
			<button class="btn btn-primary d-block m-auto" onclick="handleSubmit()">
				Submit
			</button>
			<div id="resD"></div>
		</div>
		<script>
			async function handleSubmit() {
				let selected2 = document.getElementById('exampleFormControlSelect2')
					.value;
				let data;
				if (selected2 == 'hget' || selected2 == 'hdel') {
					data = {
						cmdT: selected2,
						key: document.getElementById('key').value,
						field: document.getElementById('field').value
					};
				} else if (selected2 == 'hmset') {
					data = {
						cmdT: selected2,
						key: document.getElementById('key').value,
						field: document.getElementById('field').value,
						value: document.getElementById('value').value
					};
				} else if (selected2 == 'set') {
					data = {
						cmdT: selected2,
						key: document.getElementById('key').value,
						value: document.getElementById('value').value
					};
				} else if (selected2 == 'get') {
					data = {
						cmdT: selected2,
						key: document.getElementById('key').value
					};
				} else if (selected2 == 'zadd') {
					data = {
						cmdT: selected2,
						key: document.getElementById('key').value,
						rank: document.getElementById('rank').value,
						value: document.getElementById('value').value
					};
				} else if (selected2 == 'zrange') {
					data = {
						cmdT: selected2,
						key: document.getElementById('key').value
					};
				}

				// deal with fetch
				if (!data.key) {
					alert('please fill the fields');
					return;
				}
				const response = await fetch('/getdata', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json'
					},
					body: JSON.stringify(data)
				});
				const d = await response.json();

				var h2 = document.createElement('h2');
				document.getElementById('resD').innerHTML = '';
				if (d.value) {
					h2.classList.add('alert', 'alert-primary', 'm-5', 'text-center');
					h2.innerText = d.value;
				} else {
					h2.classList.add('alert', 'alert-danger', 'm-5', 'text-center');
					h2.innerText = 'please enter correct fields';
				}
				document.getElementById('resD').appendChild(h2);
				// deal with fetch end
			}

			// =====================================
			// =====================================
			// =====================================
			// =====================================

			function changes() {
				var selected = document.getElementById('exampleFormControlSelect1')
					.value;
				if (selected == 'Hashes') {
					document.getElementById('datas').innerHTML = '';
					let html = `
					<div class="form-group">
					<label for="exampleFormControlSelect2">Command Type</label>
					<select
						name="cmdT"
						class="form-control"
						id="exampleFormControlSelect2"
						onchange="changes2()"
					>
						<option value="hmset">HMSET</option>
						<option value="hdel">HDEL</option>
						<option value="hget">HGET</option>
					</select>
				</div>
			     `;
					let div = document.createElement('div');
					div.innerHTML = html;
					document.getElementById('datas').appendChild(div);
				}

				if (selected == 'String') {
					document.getElementById('datas').innerHTML = '';
					let html = `
					<div class="form-group">
					<label for="exampleFormControlSelect2">Command Type</label>
					<select
						name="cmdT"
						class="form-control"
						id="exampleFormControlSelect2"
						onchange="changes2()"
					>
						<option value="set">SET</option>
						<option value="get">GET</option>
					</select>
				</div>
			     `;
					let div = document.createElement('div');
					div.innerHTML = html;
					document.getElementById('datas').appendChild(div);
				}
				if (selected == 'sSets') {
					document.getElementById('datas').innerHTML = '';
					let html = `
					<div class="form-group">
					<label for="exampleFormControlSelect2">Command Type</label>
					<select
						name="cmdT"
						class="form-control"
						id="exampleFormControlSelect2"
						onchange="changes2()"
					>
						<option value="zadd">ZADD</option>
						<option value="zrange">ZRANGE</option>
					</select>
				</div>
			     `;
					let div = document.createElement('div');
					div.innerHTML = html;
					document.getElementById('datas').appendChild(div);
				}
				changes2();
			}

			// =====================================
			// =====================================
			// =====================================
			// =====================================

			function changes2() {
				let selected2 = document.getElementById('exampleFormControlSelect2')
					.value;
				if (selected2 == 'hget' || selected2 == 'hdel') {
					document.getElementById('datas2').innerHTML = ' ';
					let html = `
					<div class="form-group">
						<input
							type="text"
							class="form-control"
							id="key"
							placeholder="key"
							required
						/>
					</div>
					<div class="form-group">
						<input
							type="text"
							class="form-control"
							id="field"
							placeholder="field"
							required
						/>
					</div>
			     `;
					let div = document.createElement('div');
					div.innerHTML = html;
					document.getElementById('datas2').appendChild(div);
				}
				if (selected2 == 'hmset') {
					document.getElementById('datas2').innerHTML = ' ';
					let html = `
					<div class="form-group">
						<input
							type="text"
							class="form-control"
							id="key"
							placeholder="key"
							required
						/>
					</div>
					<div class="form-group">
						<input
							type="text"
							class="form-control"
							id="field"
							placeholder="field"
							required
						/>
					</div>
					<div class="form-group">
						<input
							type="text"
							class="form-control"
							id="value"
							placeholder="value"
							required
						/>
					</div>
			     `;
					let div = document.createElement('div');
					div.innerHTML = html;
					document.getElementById('datas2').appendChild(div);
				}
				if (selected2 == 'set') {
					document.getElementById('datas2').innerHTML = ' ';
					let html = `
					<div class="form-group">
						<input
							type="text"
							class="form-control"
							id="key"
							placeholder="key"
							required
						/>
					</div>
					<div class="form-group">
						<input
							type="text"
							class="form-control"
							id="value"
							placeholder="value"
							required
						/>
					</div>
			     `;
					let div = document.createElement('div');
					div.innerHTML = html;
					document.getElementById('datas2').appendChild(div);
				}
				if (selected2 == 'get') {
					document.getElementById('datas2').innerHTML = ' ';
					let html = `
					<div class="form-group">
						<input
							type="text"
							class="form-control"
							id="key"
							placeholder="key"
							required
						/>
					</div>
			     `;
					let div = document.createElement('div');
					div.innerHTML = html;
					document.getElementById('datas2').appendChild(div);
				}
				if (selected2 == 'zadd') {
					document.getElementById('datas2').innerHTML = ' ';
					let html = `
					<div class="form-group">
						<input
							type="text"
							class="form-control"
							id="key"
							placeholder="key"
							required
						/>
					</div>
					<div class="form-group">
						<input
							type="text"
							class="form-control"
							id="rank"
							placeholder="rank"
							required
						/>
					</div>
					<div class="form-group">
						<input
							type="text"
							class="form-control"
							id="value"
							placeholder="value"
							required
						/>
					</div>
			     `;
					let div = document.createElement('div');
					div.innerHTML = html;
					document.getElementById('datas2').appendChild(div);
				}
				if (selected2 == 'zrange') {
					document.getElementById('datas2').innerHTML = ' ';
					let html = `
					<div class="form-group">
						<input
							type="text"
							class="form-control"
							id="key"
							placeholder="key"
							required
						/>
					</div>
			     `;
					let div = document.createElement('div');
					div.innerHTML = html;
					document.getElementById('datas2').appendChild(div);
				}
			}

			changes();
		</script>
	</body>
</html>
